@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


h4 {
    font-family: Montserrat;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 0px 0px 15px;
}

.d-flex {
    display: flex;
}

.justify {
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-cen {
    align-items: center;
}

nav {
    box-shadow: 1px 0 10px -5px #000;
    transition: all 0.3s ease;
}

.nav-main {
    padding: 0 1.1rem;
    height: 70px;
    width: 1200px;
}

.nav-list {
    text-decoration: none;
    list-style: none;
    height: 100%;
    /* position: relative; */

}

.nav-list:not(:last-child) {
    margin-right: 1.1rem;
}

.nav-list a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 14px;
    margin-right: 10px;
}

.nav-list:hover a,
.nav-list:focus a {
    color: #E31C25;
    transition: .3s ease-in-out;
}

/* .menu .nav-list:focus-within .drop-down ,
.menu .nav-list:hover .drop-down ,
.menu .nav-list .drop-down :hover{
    display: block;
} */

/* .nav-list */

.menu {
    width: 100%;
    height: 100%;
}

.menu ul {
    justify-content: flex-end;
    height: 100%;
}


.menu ul li:hover>.submenu,
.menu ul li:focus-within>.submenu,
.menu ul li .submenu:hover {
    display: block;
}

.cart,
.search {
    margin-left: 22px;
    width: 50px;
    position: relative;
}

.search {
    margin-left: 5px;
}

.cart a,
.search a {
    text-decoration: none;
    color: #000;
}

.logo img {
    height: 3rem;
}

.cart-count {
    border-radius: 50%;
    position: absolute;
    top: -5px;
    background: #c61515;
    color: #fff;
    width: 15px;
    height: 17px;
    align-items: center;
    text-align: center;
    font-size: 12px;
    left: 9px;
}

.fa-chevron-down {
    color: grey;
}

.submenu {
    background: whitesmoke;
    position: absolute;
    top: 70px;
    transition: all .3s ease;
    width: 180px;
    display: none;
}

.submenu ul li {
    list-style: none;
    padding: 0.5rem;
}

.submenu ul li:hover {
    background: red;
    color: #fff;
}

/* .drop-ul {
    list-style: none;
} */

/* .drop-ul a {
    text-decoration: none;
} */
/* .drop-li {
    padding: 7px 15px;
} */

/* .drop-down {
    position: absolute;
    top: 72px;
    width: 200px;
    background: #f3efef;
    display: none;
    transition: all 0.5s ease;
} */
/* 
.drop-down .drop-li:hover, 
.drop-down .drop-li:focus a {
    background: #c61515;
    color: #fff;
} */

.bar {
    background: #e31d26;
    font-size: 20px;
    padding: 12px 20px;
    line-height: normal;
    color: #fff;
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
}



footer {
  
    background: black;
    color: #fff;
    bottom: 0;
    width: 100vw;
    padding: 90px  20px;
}



.footer-main {
    display: flex;
    justify-content: space-between;
}

.footer-main p {
    margin-bottom: 30px;
}

.logo-btm {
    height: 45px;
    margin-bottom: 30px;
 }

 .call-main {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 22px;
    height: 81px;
    justify-content: space-between;
    margin-bottom: 3rem;
 }

 .fa-phone {
    background: red;
    padding: 20px;
 }

 .call-text span {
     font-size: 14px;
 }

 .call-text h5{
    font-size: 18px;
    font-family: Montserrat;
 }

  .link-main ul li,
  .time ul li  {
    margin-bottom: 12px;
    list-style: none;
    align-items: center;
  }



  .link-main ul li::before,
  .time ul li::before {
      content: '';
      width: 0.35em;
      height: 0.3em;
      background: red;
      display: inline-block;
      margin-right: 1em;
  }



 .link-main ul li a {
     text-decoration: none;
     color: #FFF;
     transition: all 0.3s ease-in-out;
     text-transform: uppercase;
 }


 .link-main ul li a:hover {
     color: red;
 }

 .location img {
    width: 18rem;
    margin-bottom: 45px;
 }


 .location li span {
    margin-left: 15px;
 }


 i {
     color: #fff;
     /* font-size: 5rem; */
 }

.fa-map-marker {
    color: red;
}

 .location ul li {
     list-style: none;
     display: flex;
     align-items: center;
 }

.ft-bm ul li {
    list-style: none;
    margin-right: 2rem;
}

.ft-bm ul li i {
    font-size: 1.3rem;
}
.time ul li .point {
    margin-left: 6rem;
}


@media (max-width:1200px) {
    .nav-main {
        padding: 0 2.1rem;
    }

    .time ul li .point {
        margin-left: 3rem;
    }

    .time ul li {
        font-size: 15px;
    }

    .location img {
        width: 12rem;
    }
}

@media (max-width:992px) {
    .location img {
        width: 20rem;
    }

    .link, .location {
        margin-bottom: 2rem;
    } 
}

@media (max-width:1000px) {
    .menu {
        display: none;
        position: absolute;
        background: #ebe7e7;
        top: 71px;
        width: 100%;
        left: 0;
        height: initial;

    }

      .time ul li {
          font-size: 16px;
      }

    .show {
        display: block;
    }

    .menu .list {
        flex-direction: column;
    }

    .menu .list li {
        width: 100%;
        /* padding: 0 2rem; */
        justify-content: space-between;
        margin-right: auto;
    }

    .fa-chevron-down {
        color: #000;
        font-size: 14px;
    }

    .menu ul li a {
        font-size: 17px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding: 20px 20px 16px;
        align-items: center;
        /* background: red; */
        /* color: #fff; */
    }

    .nav-list:hover a,
    .nav-list:focus a {
        background: red;
        color: #fff;
    }


    .menu ul li {
        margin-right: auto;
    }

    .nav-main {
        justify-content: space-between;
        padding: 0;
        margin: 0 1rem;
    }


    .bar {
        display: inline-block;
    }


    .nav-list {
        /* margin-right: 1.1rem;
        position: relative; */
        flex-flow: inherit;
        margin-right: auto;
    }

    .nav-list a {
        margin-right: 0;
    }

    /* .drop-down {
        position: inherit;
    } */

    .submenu {
        width: inherit;
        top: 61px;
    }


    .sub-li {
        list-style: none;
        padding: 10px 30px;
    }
}



@media (max-width: 500px) {

    .cart,
    .search {
        display: none;
    }

    .logo img {
        height: 2rem;
    }
}